<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Liste Pokes
    </ion-title>
    
    <ion-button *ngIf="previouss" slot="end" (click) = "previousPoke()" >
      <ion-icon name="play-back-circle-outline"></ion-icon>    </ion-button>
      <ion-button slot="end" (click) = "nextPoke()" >
      <ion-icon name="play-forward-circle-outline"></ion-icon>    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <ion-item *ngFor="let item of dataPokes">
      <ion-img [src]="item?.urlImage"></ion-img>

  <ion-label [ngStyle]="{color: item?.pokeColor,'background-color': '#e9ecef'}">   
        {{item.frenchName}}
  </ion-label>


      <ion-button fill="outline" slot="end" [ngStyle]="{color: item?.pokeColor}"
      (click)="details()">
        Détails
      </ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
</ion-content>
