<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Liste des Pokémons </ion-title>
    <ion-icon name="duplicate-outline"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Liste des Pokémons</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <ion-grid>
 
  

  
    
    <ion-row>
      <ion-col size="4" *ngFor="let pokemon of pokemons">
        {{pokemon.name}} 
        <img src="{{pokemon.urlImage}}" />
      </ion-col>
     
    </ion-row>
    </ion-grid>

</ion-content>
  
  
  