<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/pokemon.svg.png" />
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Un pokémon en particulier</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-searchbar placeholder="Ton pokémon ou ID" type="text" debounce="500" (ionChange)="onSearchPokeByName($event)" ></ion-searchbar>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>
<ion-content>      
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ici vit de nombreux Pokémons</ion-card-subtitle>
    </ion-card-header>
      <ion-button expand="block" shape="round" [routerLink]="['/tab2']" routerLinkActive="router-link-active" >
        Découvre-les !
      </ion-button>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let item of pokemon | slice:0:5">
      <ion-avatar>
        <img [src]="item.image" />
      </ion-avatar>
      <div *ngIf="item.frenchName;else englishName">
        <ion-chip color="primary" mode="ios" outline="true" [routerLink]="['/tab3', item.pokeIndex]">
          <ion-label> {{item.frenchName}}</ion-label>
        </ion-chip>
      </div>
        <ng-template #englishName>
          <ion-chip color="primary" outline="true" [routerLink]="['/tab3', item.pokeIndex]">
            <ion-label> {{item.name}}</ion-label>
          </ion-chip>
        </ng-template>
        <ion-chip color="warning" [routerLink]="['/tab3', item.pokeIndex]">
          <ion-label># {{item.pokeIndex}}</ion-label>
        </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
