<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Détails
    </ion-title>
    <ion-button *ngIf="previouss" slot="end" (click) = "previousPokeDetails()" >
      <ion-icon name="play-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab2"></ion-back-button>
    </ion-buttons>
  
  <ion-button slot="end" (click) = "nextPokeDetails()" >
  <ion-icon name="play-forward-circle-outline"></ion-icon>    
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <ion-card *ngIf="details">
    <ion-card-header>
      <ng-template [ngIf]="details.names.length > 0"> 
        <ion-card-title >
          {{ details?.names[4]?.name }}
        </ion-card-title>
      </ng-template>
      <ng-template [ngIf]="details.names.length == []">
      
        <ion-card-title>
          {{ details?.name?.charAt(0).toUpperCase()+ details?.name.slice(1)}}
        </ion-card-title>

      </ng-template>
     



      <ion-card-subtitle>
       {{details?.genera[3]?.genus}}
      </ion-card-subtitle>
    </ion-card-header>

    
    <ion-card-content *ngIf="poke">
      <ion-grid>
        
        <ion-row>
          <ion-col class="infos-img" >
            <ion-img [src]="poke?.urlSpecie" ></ion-img>
          </ion-col>
          <ion-col *ngIf="flavor">
            Résumé:
          <br>
          {{flavor[0]}}
          <br>
          <span>
            <ion-icon size="small" name="caret-down-circle-outline" (click)="onflavor()" [hidden]="!flavorPlus"></ion-icon>
          </span>
          
          <div class="flavor-plus" [hidden]="flavorPlus" (click)="onflavor()" >
            {{flavor[flavor.length-1]}}
          </div>
          <span>
            <ion-icon size="small" name="caret-up-circle-outline" (click)="onflavor()" [hidden]="flavorPlus"></ion-icon>
          </span>
          
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-icon [src]="heart" slot="start"></ion-icon>
              <ion-label>{{poke?.stats[0]?.base_stat}}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon [src]="sword1" slot="start"></ion-icon>
              <ion-label>{{poke?.stats[1]?.base_stat}}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon [src]="shield2" slot="start"></ion-icon>
              <ion-label>{{poke?.stats[2]?.base_stat}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-icon [src]="sword2" slot="start"></ion-icon>
              <ion-label>{{poke?.stats[3]?.base_stat}}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon [src]="shield1" slot="start"></ion-icon>
              <ion-label>{{poke?.stats[4]?.base_stat}}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon [src]="speed" slot="start"></ion-icon>
              <ion-label>{{poke?.stats[5]?.base_stat}}</ion-label>
            </ion-item>
          </ion-col>
          

        </ion-row>


      </ion-grid>
 
     
      
 
     
     
    </ion-card-content>
  </ion-card>
  
</ion-content>